* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: inherit;
    background: linear-gradient(-45deg, #cc95c0, #dbd4b4, #7aa1d2 );
    background-size: 250% 250%;
    animation: gradient 10s ease infinite;
    font-family: 'Roboto', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.mainWindow {
    width: 400px;
    min-height: 600px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.startWindow {
    width: 400px;
    min-height: 50px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.inputCity input {
    margin: 20px;
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 8px 4px 2px 1px rgba(0, 0, 255, .2);
    text-transform: uppercase;
}

.inputCity {
    position: relative;
    text-align: center;
}

button {
    margin: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: aliceblue;
}

.weatherBox {
    text-align: center;
}

.weatherBox .location{
    margin:0;
    padding:0;
    font-size: 18px;
}

.weatherBox img {
    width: 60%;
}

.weatherBox .temperature {
    position: relative;
    font-size: 60px;
    font-weight: 500;
    margin: auto;
    padding: 0;
}

.weatherBox .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin: auto;
    padding: 0;
}

.weatherDetails {
    margin-top: 60px;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
}

.weatherDetails .humidity {
    margin-left:auto;
    margin-right:auto;
    font-size: 18px;
}

.weatherDetails .wind {
    margin-left: auto;
    margin-right:auto;
    font-size: 18px;
}

.wrapper{
    display:inline-block;
}

.valueDetails {
    text-align: center;
    font-size: 22px;
}