* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: inherit;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.mainWindow {
    width: 400px;
    min-height: 600px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto
}

.inputCity input {
    margin: 20px;
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 8px 4px 2px 1px rgba(0, 0, 255, .2);
}

.inputCity {
    position: relative;
    text-align: center;
}

button {
    margin: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.weatherBox {
    text-align: center;
}

.weatherBox img {
    width: 60%;
    margin-top: 10px;
}

.weatherBox .temperature {
    position: relative;
    font-size: 60px;
    font-weight: 200;
    margin: auto;
    padding: 0;
}

.weatherBox .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin: auto;
    padding: 0;
}

.weatherDetails {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.weatherDetails .humidity {
    margin-left:auto;
    margin-right:auto;
}

.weatherDetails .wind {
    margin-left: auto;
    margin-right:auto;
}