@{
    ViewData["Title"] = "Weather Web App";
}

<html>
<body>
    <div class="mainWindow">

        <div class="inputCity">
            <form>
                <input type="text" placeholder="Enter Your Location">
                <button type="submit" id="SearchButton" OnClick="SearchButton_Click">🔍</button>
            </form>
        </div>

        <div class="weatherBox">
            <img src="https://img.icons8.com/color/256/partly-cloudy-rain.png">
            <p class="temperature">26 ℃</p>
            <p class="description">Clouds</p>
        </div>

        <div class="weatherDetails">
            <div class="humidity">
                <span></span>
                Humidity
            </div>
            <div class="wind">
                <span></span>
                Wind Speed
            </div>
        </div>

    </div>
</body>
</html>